{% if groups %}
    {% for category, rabbits in groups.items %}
        {% if rabbits %}
            <div class="rabbitCard col-md-3">
                <a href="{% url 'group_view:group_view' category=category filter=sex %}">
                    {% if category == 'deceased' %}
                        <img src="{{ rabbits.0.image.url }}" class="img-fluid grayscale" alt="{{ category|title }} rabbits">
                    {% else %}
                        <img src="{{ rabbits.0.image.url }}" class="img-fluid" alt="{{ category|title }} rabbits">
                    {% endif %}
                    <div class="imgOverlay">
                        <h3>{{ category|title }}</h3>
                        <h6>{{rabbits.count}}</h6>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No rabbits found. Add one using the button above.</p>
{% endif %}
