{% if groups %}
    {% for category, rabbits in groups.items %}
        {% if rabbits %}
            <div class="rabbitCard col-md-3">
                <a href="{% url 'group_view:group_view' category=category sex=sex %}">
                    <img src="{{ rabbits.0.image.url }}" class=".img-fluid" alt="{{ p.name }}">
                    <div class="imgOverlay">
                        <h3>{{ category|title }}</h3>
                        <h6>{{rabbits.count}}</h6>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No rabbits found. Add one using the button above.</p>
{% endif %}
